<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/osmium_copy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/osmium_copy"
        android:supportsRtl="true"
        android:theme="@style/Theme.Susu"
        tools:targetApi="31">
        <activity
            android:name="com.osmiumai.app.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.osmiumai.app.DescribeYouActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.ProfileDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.LoginEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.SignupEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.osmiumai.app.WelcomeScreen1Activity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.WelcomeScreen2Activity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.WelcomeScreen3Activity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.WelcomeScreen4Activity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.UploadPapersActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.MockTestActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.TestAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.StartCourseActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.CourseOverviewActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.TopicLearnActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.PodcastLearnActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.ui.settings.FileManagerActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.ui.settings.DownloadsActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.ui.settings.NotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.ui.settings.SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.ui.settings.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.ui.settings.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name="com.osmiumai.app.ui.notifications.NotificationsActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>